.about-company {
  /*color: black;*/ }
  .about-company p {
    text-align: center;
    font-size: 20px;
    font-weight: 300;
    font-family: 'Roboto', sans-serif !important;
    line-height: 1.6;
    margin-bottom: 15px; }
  .about-company__logo-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 115px; }
    .about-company__logo-container img {
      /* move these properties for the media queries*/
      margin-right: 20px;
      margin-left: 20px;
      margin-bottom: 30px; }
    .about-company__logo-container__make-in-india {
      margin: auto 0; }
    .about-company__logo-container__startup-india {
      margin: auto 0; }
    .about-company__logo-container__iso {
      margin: auto 0; }

.features {
  background-color: #444444;
  color: #fff; }
  .features__feature-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; }
  .features__feature-item {
    text-align: center;
    max-width: 200px;
    width: 25%;
    margin-right: 45.1px;
    margin-left: 45.1px;
    margin-bottom: 56px; }
    .features__feature-item__heading {
      margin-top: 24px !important;
      text-transform: uppercase;
      font-family: 'Open Sans', sans-serif !important; }
    .features__feature-item p {
      font-family: 'Roboto', sans-serif !important; }
    .features__feature-item img {
      margin: 0 auto; }

/*.project-header {
	
	padding-top: 27px;
	background-color: darkviolet;

	&__triangle-container {
		width: 100%;
		height: 394px;
		position: relative;
		background-color: yellow;

		&__main-heading {
			position: absolute;
			top: 43.9%;
			left: 0;
			transform: translateY(-50%);
			width: 100%;
			text-align: center;

			&__subtitle {
				display: block;
				max-width: 400px;
				margin: 0 auto;
				padding-top: 22px;
			}

		}
	}
	
	&__img-container {
		
		position: relative;
		height: 591px;

		&__img {
			position: absolute;
			top: 60px;
			left: 50%;
			transform: translateX(-50%);
			z-index: 1;
		}
	}

}*/
/*.project-header {
	position: relative;
	overflow: hidden;
    width: 100%;
    height: 100vh;
    background-color: #e0dfe1;

    &__video {
    	position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		width: 100%;
		height: auto;
		background-color: #e0dfe1;
		margin: auto;
    }
}*/
.project-header {
  position: relative;
  overflow: hidden;
  height: 100vh;
  background: url("../../assets/images/first-frame-pic.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }
  .project-header__video-container {
    position: absolute;
    width: calc(100vh * (1000 / 562));
    /*  video width / height  */
    height: calc(100vw * (562 / 1000));
    /*  video height / width  */
    min-width: 100%;
    min-height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
    .project-header__video-container__video {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }
  .project-header__heading {
    color: #fff;
    text-shadow: 0px 3px 8px rgba(0, 0, 0, 0.25);
    width: 100%;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translateY(-50%);
    transform: translateX(-50%);
    text-align: center; }
    .project-header__heading h1 {
      font-size: 50px;
      margin-top: 0 !important; }
    .project-header__heading span {
      font-size: 30px;
      padding: 10px; }

.contact-and-enquiry {
  color: #fff; }
  .contact-and-enquiry__msg {
    font-family: 'Open Sans', sans-serif !important;
    text-align: center;
    padding-bottom: 54px;
    margin-bottom: 0; }
  .contact-and-enquiry__form {
    font-family: 'AkkuratBold';
    font-size: 20px;
    padding-bottom: 56px; }
  .contact-and-enquiry__form__submit-btn {
    font-size: 15px;
    font-family: 'Open Sans', sans-serif !important;
    display: block;
    width: 192px;
    margin-left: auto;
    margin-right: auto; }
  .contact-and-enquiry .form-group__text-area {
    resize: none; }
  .contact-and-enquiry .form-group {
    margin-bottom: 37px !important; }
    .contact-and-enquiry .form-group label {
      text-transform: uppercase;
      font-family: 'Roboto', sans-serif !important; }

/*@font-face {
	font-family: akkuratBold;
	src: url('../../fonts/akkurat-bold.ttf') format('truetype');
}

@font-face {
	font-family: liberationSans;
	src: url('../../fonts/liberation-sans-regular.ttf') format('truetype');
}*/
.roboto {
  font-family: 'Roboto', sans-serif !important; }

.open-sans {
  font-family: 'Open Sans', sans-serif !important; }

.heading-special {
  font-family: 'Varela Round', sans-serif !important; }

.headline {
  font-size: 40px;
  font-family: akkuratBold;
  font-weight: bold;
  margin: 0; }
  .headline--centered {
    text-align: center; }
  .headline--leftaligned {
    text-align: left; }
  .headline--about-company-heading {
    /*color: $fontColor;*/
    font-family: 'Open Sans', sans-serif; }
  .headline--top-heading {
    font-size: 50px; }
  .headline--features-headline, .headline--about-product, .headline--tech-specs {
    padding: 72px 0 48px; }
  .headline--form-headline {
    padding: 72px 0 21px;
    font-family: 'Open Sans', sans-serif; }
  .headline--about-company-heading {
    padding: 96px 0 48px; }

.product-details {
  padding-bottom: 0px; }
  .product-details__row {
    position: relative; }
  .product-details__description {
    padding: 0;
    margin-bottom: 52px; }
    .product-details__description p {
      font-size: 20px;
      line-height: 1.4;
      font-family: 'Open Sans', sans-serif; }
  .product-details__product-image {
    position: relative;
    /*top: -70px;*/
    /*right: 0;*/ }
    .product-details__product-image img {
      /*position: absolute;*/
      /*top: -70px;*/
      /*right: 0;*/
      display: block;
      margin: 0 auto; }

/* Commenting the styles for the future refrence*/
/*.project-footer {

	background-color: $navColor;
	color: $fontColor;
	font-family: $paraFont;

	&--left-side {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		align-items: flex-end;
	}
	
	&--right-side {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		align-items: flex-start;
	}

	&__company-logo {
		text-align: center;

		&__heading {
			margin-bottom: 0;
		}
	}

	&__terms-list {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		flex-wrap: wrap;
		list-style: none;
		margin: 0 0 10px 56px;
		padding: 0;

		li {
			display: inline-block;
			padding: 0 25px;
		}

		li:nth-child(1),
		li:nth-child(2) {
			border-right: 1px solid #fff;
		}
	}

	&__social-media-container {
		
		margin-right: 69px;

		&__social-media-list {
			display: flex;
			flex-direction: row;
			justify-content: flex-start;
			flex-wrap: wrap;
			list-style: none;
			margin: 0;
			padding: 0;

			li {
				display: inline-block;
				margin-right: 10px;
			}
		}
	}

	&__newsletter__form__button {
		display: block;
		margin-left: auto;
	}
}
*/
.project-footer {
  font-family: LiberationSans; }
  .project-footer__company-name {
    font-size: 20px;
    font-weight: bold; }
  .project-footer__copyright {
    font-size: 10px;
    font-family: 'Roboto', sans-serif; }

.navbar__nav-list {
  text-align: center; }
  .navbar__nav-list li {
    font-family: 'Roboto', sans-serif !important; }
  .navbar__nav-list li:hover {
    background-color: black; }

/* 
* CSS for the navigation bar before adding the 
* bootstrap navigation
*/
/*.project-nav {

	padding: 8px 0;
	justify-content: center;
	font-family: 'Roboto', sans-serif;
	color: $fontColor;
	background-color: $navColor;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 20;

	&__img-container {
		width: 10%;
	}

	&__nav-list {
		margin: 0;
		padding: 0;
		list-style: none;
		width: 90%;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: flex-end;
		align-items: center;

		@mixin atMedium {
			text-align: center;
			display: none;
			position: absolute;
			width: 100%;
			top:40px;
			left: 0;
			background-color: black;
		}

		li {
			display: inline-block;
			margin-left: 52px;
			text-transform: uppercase;

			@mixin atMedium {
				display: block !important;
				margin-left: 0 !important;
			}
		}

		&__links {
			color: $fontColor;
			text-decoration: none;
		}

		&__links:hover {
			text-decoration: underline;
			color: $fontColor;
		}

		&__links:focus {
			color: $fontColor;
		}
	}

	&__bars-container {
		display: none;
		text-align: center;
		color: $fontColor;
		width: 5%;
		position: relative;

		@mixin atMedium {
			display: flex;
			justify-content: flex-end;
			width: 90%;
		}

		i {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
		}
	}
}*/
/*Commented the styles for the tech-specs section*/
/*.tech-specs {
	
	padding-bottom: 72px;
	background-color: #f5f5f5;

	&__item {
		position: relative;
		margin-bottom: 72px;

		&__item-img {
			margin: 0 auto;
		}

		&__details {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			max-width: 270px;
			font-size: 17px;

			&__subheading {
				font-family: 'AkkuratBold';
				font-weight: bold;
				text-align: center;
			}

			&--left {
				left: 0;
			}

			&--right {
				right: 0;
			}
		}
	}
}*/
.wrapper {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1206px; }
  .wrapper .wrapper {
    padding-left: 0;
    padding-right: 0; }
  .wrapper--form {
    max-width: 496px; }
  .wrapper--nav, .wrapper--footer {
    display: flex;
    flex-direction: row; }
  .wrapper--footer {
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap; }

.hr-rule {
  margin: 36px 0 66px; }

.section-background {
  background-color: #444444; }

/*# sourceMappingURL=styles.css.map */
